main {
    display: flex;
    justify-content: center;
}

table {
    display: flex;
    border: 1px solid black;
    width: 60vw;
    height: 40vh;
    justify-content: space-around;
}

tr {
    padding: 8px 0 8px 0;
    display: flex;
    width: 60vw;
    justify-content: space-around;
}

th {
    width: 60vw;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
}