main {
    display: flex;
    justify-content: center;
}

header {
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding:3rem 0 3rem 0;
    gap: 4rem;

    font-family: var(--font-bold);
    font-size: 2rem;
    background-color: pink;
}

header img {
    max-width: 120px;
}

header a {
    color: black;
}

.modal {
    display: flex;
}